*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Isso serve para mudar style do header */
header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: greenyellow;
}

/*Cria duas colunas/caixas que flutuam uma ao lado da outra*/
nav {
    float: left;
    width: 30%;
    height: 300px;
    background-color: goldenrod;
    padding: 90px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {

    float: left;
    padding: 20px;
    width: 70%;
    background-color: goldenrod;
    height: 300px;
}

/* Limpa os floats após as colunas */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilize o rodapé */
footer {
    background-color: cornflowerblue;
    padding: 10px;
    text-align: center;
    color: black;
}

/* Layout responsivo - faz com que as duas colunas/caixas sejam empilhadas uma em cima da outra em vez de uma ao lado da outra, em telas pequenas */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.tamanho_img{
    width: 35%
}

/* Isso serve para mudar style do form */
form {
    background-color: goldenrod;
    font-size: 20px;
    color: black;
}